{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <h2>{{category.title}}</h2>
  {% if category.product_set.count > 0 %}
    <div class="row">
    {% for product in products %}
      <div class="col-sm-3 text-center">
            {% include 'products/product_thumbnail.html' with product=product %}
        </div>
        {% cycle '' '' '' '</div><div class="row">' %}
    {% endfor %}
    </div>
  {% else %}
    <h2>No products in this category</h2>
  {% endif %}

{% endblock %}
